$primary-col: #338a77;
$darkest-col: #183849;
$accent-col: #f07b52;
$lightest-col: #fbfbfb;
$text-col: #606060;
$body-text: 16px;
$small-text: 14px;
$heading-one: 32px;
$heading-two: 24px;
$heading-three: 20px;
$shadow: 3px 5px 5px #acabab2a;

@mixin flex-row($gap) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin flex-column($gap) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap;
}

//DEFAULT STYLES

body {
  background-color: $lightest-col;
}

p {
  color: $text-col;
  font-size: $body-text;
  margin-bottom: 0;
}

label,
summary {
  color: $text-col;
}

input {
  margin: 1rem 0rem;
  background-color: $lightest-col;
  color: $text-col;
  border-radius: 3rem;
  border: 1px solid rgb(214, 214, 214);
  padding: 1rem;
}

h1,
h2,
h3,
h4 {
  color: $primary-col;
  margin-bottom: 0;
}

.underline {
  text-decoration: underline;
}

.flex-row {
  @include flex-row(10px);
}

.flex-col {
  @include flex-column(5px);
  justify-content: center;
}

.btn {
  background-color: $accent-col;
  color: $darkest-col;
  border-radius: 3rem;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

.icon {
  height: 28px;
}

//NAV

.top-nav,
.main-nav {
  @include flex-row(30px);
  justify-content: space-between;
  padding: 1em 2em;
  width: 100vw;
  z-index: 1;
  height: 80px;
}

.top-nav {
  box-shadow: $shadow;
  background-color: $lightest-col;
  position: fixed;
  top: 0;
}

.main-nav {
  background-color: $lightest-col;
  box-shadow: 3px -5px 5px #acabab2a;
  position: fixed;
  bottom: 0;
}

.logo {
  width: 16rem;
}

.main-nav {
  @include flex-row(30px);
  width: 100%;
}

//FEED

.feed {
  @include flex-column(30px);
  padding: 10em 2em;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

//CARDS

.info-card {
  @include flex-column(10px);
  background-color: $lightest-col;
  border-radius: 15px;
  box-shadow: $shadow;
  width: 90vw;
}

.card-image {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-info {
  padding: 1em 2em;
  justify-content: space-between;
}

.pastime {
  @include flex-row(10px);
}

.pastime-section {
  @include flex-row(10px);
  flex-wrap: wrap;
}

.icon-btn {
  background-color: $primary-col;
  color: $lightest-col;
  border-radius: 50%;
  font-weight: bold;
}

//LOGIN

.form {
  padding: 2.5rem 2.5rem;
  border: 1px solid $darkest-col;
  border-radius: 10px;
  background-color: $lightest-col;
  margin: 1rem 0rem;
  width: 90vw;
}

.login-container,
.signup-container {
  padding: 2rem 0rem;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100vw;
  color: $lightest-col;
  background-color: $darkest-col;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 2rem;
  & img {
    width: 250px;
    margin-bottom: 1rem;
  }
  & h3 {
    text-align: center;
    margin-bottom: 1rem;
    color: $lightest-col;
  }
}

.auth-button-container {
  background-color: $darkest-col;
  @include flex-row(10px);
  justify-content: center;

  & p,
  h3 {
    color: $lightest-col;
  }
}

.form-input {
  justify-content: space-between;
}
//PROFILE
.profile-container {
  margin: 6rem 0rem 8rem 0rem;
}

.profile-img {
  width: 100vw;
  height: 450px;
  object-fit: cover;
}

.prof-details-container {
  padding: 2rem;
  background-color: $lightest-col;
  gap: 20px;
}

.divider {
  height: 10px;
}

.pastimes-block {
  border-top: 1px solid rgb(194, 194, 194);
  padding-top: 2rem;
  margin-top: 1.6rem;
}

//FILTER

.controls {
  position: fixed;
}
.controls,
.controls-active,
.filter-container {
  width: 80vw;
}

.controls-active {
  position: fixed;
  background-color: $lightest-col;
}

.filter-icon {
  margin: 6em 2em 1em 2em;
  margin-left: 2em;
  color: $body-text;
  font-weight: 500;
  text-decoration: underline;
  position: relative;
  border-radius: 50%;
  background-color: $lightest-col;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-container {
  position: absolute;
  background: $lightest-col;
  padding: 0.5em 3em 10em 3em;
  height: 100vh;
  overflow-y: scroll;
  box-shadow: $shadow;
}

.filter-label {
  font-weight: 400;
  font-size: $small-text;
  display: flex;
}

summary {
  padding-bottom: 20px;
  border-bottom: 1px solid #d4d4d4;
  margin-top: 20px;
}

.filter-item:nth-child(1) {
  margin-top: 10px;
}

//SETTINGS
.settings-container {
  position: absolute;
  background-color: $lightest-col;
  top: 80px;
  z-index: 1;
  right: 0;
  box-shadow: $shadow;
  width: 60vw;
  padding: 8rem;
  @include flex-column(20px);
  justify-content: space-between;
  align-items: center;
}

//RESPONSIVE
@media (min-width: 600px) {
  .controls,
  .controls-active,
  .filter-container,
  .settings-container {
    max-width: 60vw;
  }
}
@media (min-width: 961px) {
  .feed {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
  }
  .info-card {
    min-width: 300px;
    max-width: 400px;
  }
  .controls,
  .controls-active,
  .filter-container,
  .settings-container {
    max-width: 30vw;
  }
}
