body {
  background-color: #fbfbfb;
}

p {
  color: #606060;
  font-size: 16px;
  margin-bottom: 0;
}

label,
summary {
  color: #606060;
}

input,
select,
textarea,
.react-select {
  margin: 1rem 0rem;
  background-color: #fbfbfb;
  color: #606060;
  border-radius: 0.6rem;
  border: 1px solid rgb(214, 214, 214);
  padding: 1rem;
}

h1,
h2,
h3,
h4 {
  color: #338a77;
  margin-bottom: 0;
}

.underline {
  text-decoration: underline;
  color: #183849;
  cursor: pointer;
  line-height: 3rem;
}
.underline:hover {
  color: #338a77;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  justify-content: center;
}

.btn {
  background-color: #f07b52;
  color: #183849;
  border-radius: 3rem;
  padding: 1rem;
  text-align: center;
}
.btn:hover {
  background-color: #338a77;
  color: #fbfbfb;
}

.secondary-btn {
  color: #fbfbfb;
  background-color: #338a77;
  padding: 10px 20px;
  border-radius: 30px;
  width: 50%;
  text-align: center;
  margin: 1rem 0rem;
}
.secondary-btn:hover {
  background-color: #183849;
  color: #f07b52;
}

input::file-selector-button {
  color: #183849;
  text-decoration: underline;
  background-color: #fbfbfb;
  border: none;
  text-align: center;
  margin: 0.5rem 1rem 1rem 0rem;
}
input::file-selector-button:hover {
  color: #338a77;
}

.icon {
  height: 28px;
}

.link-light,
.link-dark {
  cursor: pointer;
  text-decoration: underline;
}

.link-light {
  color: #fbfbfb;
}
.link-light:hover {
  color: #f07b52;
}

.link-dark {
  color: #183849;
}
.link-dark:hover {
  color: #338a77;
}

.top-nav,
.main-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  padding: 1em 2em;
  width: 100vw;
  z-index: 1;
  height: 80px;
}

.top-nav {
  box-shadow: 3px 5px 5px rgba(172, 171, 171, 0.1647058824);
  background-color: #fbfbfb;
  position: fixed;
  top: 0;
}

.main-nav {
  background-color: #fbfbfb;
  box-shadow: 3px -5px 5px rgba(172, 171, 171, 0.1647058824);
  position: fixed;
  bottom: 0;
}

.logo {
  width: 16rem;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 10em 2em;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: #fbfbfb;
  border-radius: 15px;
  box-shadow: 3px 5px 5px rgba(172, 171, 171, 0.1647058824);
  width: 90vw;
}

.card-image {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-info {
  padding: 1em 2em;
  justify-content: space-between;
}

.pastime {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pastime-section {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.icon-btn {
  background-color: #338a77;
  color: #fbfbfb;
  border-radius: 50%;
  font-weight: bold;
}

.form {
  padding: 2.5rem 2.5rem;
  border: 1px solid #183849;
  border-radius: 10px;
  background-color: #fbfbfb;
  margin: 1rem 0rem;
  width: 320px;
}

.onboard-form {
  gap: 15px;
}

.login-container,
.signup-container {
  padding: 2rem 0rem;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  width: 100vw;
  color: #606060;
  background-color: #183849;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0rem 2rem;
}
.login-form h3,
.signup-form h3 {
  text-align: center;
  margin-bottom: 1rem;
  color: #fbfbfb;
}

.auth-logo {
  width: 200px;
  margin-bottom: 1rem;
}

.auth-button-container {
  background-color: #183849;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.auth-button-container p,
.auth-button-container h3 {
  color: #fbfbfb;
}

.form-input {
  justify-content: space-between;
  color: #606060;
  background-color: #fbfbfb;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
}

input[type=file] {
  width: 112px;
  overflow: hidden;
  border: none;
}

.image-upload-choice {
  display: flex;
  align-items: center;
  gap: 10;
}

.webcam {
  position: relative;
  width: 250px;
  margin-bottom: 15px;
}

.screenshot {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.capture-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 50px;
}

.photo-label {
  color: #183849;
  font-weight: bold;
  margin-top: 10px;
}

.current-selection {
  margin-bottom: 30px;
}

.preview-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.preview-img {
  width: 150px;
  height: 105px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Tabs {
  width: 100%;
  margin: auto;
  padding: 2rem 1rem;
  color: #183849;
  border-radius: 20px;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #183849;
  border-radius: 2rem;
  padding-left: 0px;
}

.react-tabs__tab {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #183849;
  color: white;
}

.react-tabs__tab:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

.react-tabs__tab:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.profile-container {
  margin: 6rem 0rem 8rem 0rem;
}

.profile-img {
  width: 100vw;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.prof-details-container {
  padding: 2rem;
  background-color: #fbfbfb;
  gap: 20px;
}

.bio-intro {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.bio-container {
  gap: 50px;
  justify-content: space-between;
}

.friends {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.divider {
  height: 10px;
}

.pastimes-block {
  border-top: 1px solid rgb(194, 194, 194);
  padding-top: 2rem;
  margin-top: 1.6rem;
}

.controls {
  position: fixed;
}

.controls,
.controls-active,
.filter-container {
  width: 80vw;
}

.controls-active {
  position: fixed;
  background-color: #fbfbfb;
}

.filter-icon {
  margin: 6em 2em 1em 2em;
  margin-left: 2em;
  color: 16px;
  font-weight: 500;
  text-decoration: underline;
  position: relative;
  border-radius: 50%;
  background-color: #fbfbfb;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-container {
  position: absolute;
  background: #fbfbfb;
  padding: 0.5em 3em 10em 3em;
  height: 100vh;
  overflow-y: scroll;
  box-shadow: 3px 5px 5px rgba(172, 171, 171, 0.1647058824);
}

.filter-label {
  font-weight: 400;
  font-size: 14px;
  display: flex;
}

summary {
  padding-bottom: 20px;
  border-bottom: 1px solid #d4d4d4;
  margin-top: 20px;
}

.filter-item:nth-child(1) {
  margin-top: 10px;
}

.settings-container {
  position: absolute;
  background-color: #fbfbfb;
  top: 80px;
  z-index: 1;
  right: 0;
  box-shadow: 3px 5px 5px rgba(172, 171, 171, 0.1647058824);
  width: 60vw;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 600px) {
  .controls,
  .controls-active,
  .filter-container,
  .settings-container {
    max-width: 60vw;
  }
}
@media (min-width: 961px) {
  .feed {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
  }
  .info-card {
    min-width: 300px;
    max-width: 400px;
  }
  .controls,
  .controls-active,
  .filter-container,
  .settings-container {
    max-width: 30vw;
  }
  .form {
    width: 60vw;
    gap: 20px;
  }
}/*# sourceMappingURL=App.css.map */